:root {
  --prim: #2b0948;
  --prim-light: #E5E5E5;
  --prim-lighter: #f7f4f4;
  --prim-dark:#1d0631;
  --prim-darker: #12041f;
  --grey: #554b4a;
  --accent: #007CED;
  --orange-accent: #CE4B18;
  --dark-orange: #b93400;
  --light-purple: #4d0e82;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-decoration: none;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

ul.a {
    list-style-type: circle;
}

body {
    background-color: var(--prim);
    transition: background-color 1s ease-in-out;
    color: var(--prim-light);
    font-size: 1rem;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, transparent 0%, var(--orange-accent) 50%);
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 15px;
    line-height: 1.8;
}

li {
    font-size: 16px;
    line-height: 2.5;
    gap: 10px;
}

header {
    left: 0;
    top: 0;
    height: 50px;
    width: 100vw;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    background: var(--prim-dark);
}

nav {
    top: 0;
    font-weight: bold;
    font-size: 18px;
    width: 100vw;
    top: 0;
    padding-top: 10px;
    z-index: 5;
}

main {
    margin-top: -30px;
}


video {
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 16 / 9;
    outline: none;
}

.black-txt {
    color: black;
}

#logo:hover {
    color: var(--orange-accent);
}
#nav-space {
    display: flex;
    flex-direction: row;
}

#nav-space-left {
    width: 50vw;
}

#nav-space-right {
    width: 50vw;
    right: 0;
    display: flex;
    justify-content: right;
}

.nav-links {
    list-style-type: none;
    top: 0;
    padding: 5px;
    background: var(--prim-dark);
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    margin-right: 2.5rem;
    color: var(--prim-light);
}

.nav-links li a:hover {
    background: var(--prim-darker);
    color: var(--orange-accent);
    font-weight: 600;
    padding: 4px;
    border: 1px solid var(--prim-darker);
    border-radius: 3px;
}
nav .toggle-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
    background: var(--prim);
    padding: 5px;
}

nav .toggle-btn span {
    display: block;
    background-color: var(--accent);
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}


.blue-txt {
    color: #007CED;
    font-weight: bold;
}

#intro-name {
    margin: 5px 00px 15px 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    text-transform: capitalize;
    border: none;
    font-size: 15px;
    color: var(--prim-light);
    padding: 10px;
    width: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgba(0, 0, 0, .2);
    background-color: var(--prim-dark);
    color: var(--accent);
}

.btn:after {
    content: "";
    background: var(--prim);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.intro-btn {
    position: relative;
    top: 50px;
    margin: 20px;
}

.container {
    width: 90vw;
}

#about {
    position: relative;
    overflow: hidden;
}

.about-txt {
    color: var(--prim-dark);
}

#cv-btn {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 45px;
}

#cv-txt {
    color: var(--prim-dark);
}

#cv-btn:hover {
    background-color: var(--prim-lighter);
}

#cv-btn:after {
    background-color: var(--prim-lighter);
}

#project-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.project {
    padding: 5px;
    width: 45vw;
    color: var(--prim-light);
}

.project:hover {
    background: var(--prim-light);
    color: var(--orange-accent);
}

.mailto {
    color: var(--prim);
    margin-top: 30px;
    width: 200px;
    padding: 5px;
}

.mailto:hover {
    color: var(--accent);
}

#socials {
    margin-top: 20px;
    gap: 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#socials i {
    transition: 0.5s;
    margin-top: 30px;
    font-size: 21px;
}

#socials i:hover {
    transform: rotate(360deg);
    color: var(--accent);
}

.fa-brands {
    color: var(--prim);
}

.nz-bg-img {
    position: absolute;
    right: 0px;
    left: 25vw;
    height: 50vw;
    width: 50%; 
    z-index: 0;
    pointer-events: none;
    opacity: 0.5; 
}

.nz-bg-img img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

#hero > *:not(.nz-bg-img) {
    position: relative;
    z-index: 1;
}

.half {
    width: 70vw;
}

.faded-box {
  position: relative;
  overflow: hidden;
}

.faded-box::before,
.faded-box::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.faded-box::before {
  left: 0;
  background: linear-gradient(to right, rgba(229, 229, 229, 1), transparent);
}

.faded-box::after {
  right: 0;
  background: linear-gradient(to left, rgba(229, 229, 229, 1), transparent);
}

.skills-scroller-wrapper {
    width: 150vw;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
    gap: 0;
    margin-left: 0;
}

.skills-scroller {
    display: flex;
    height: 40px;
    width: 200vw;
    overflow: hidden;
    margin-left: 0;
    white-space: no-wrap;
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-48%); 
    }
}

.skill-box {
    display: inline-block;
    width: 200px;
    margin: 0 1rem;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    height: 30px;
    text-align: center;
    border: 0.5px solid var(--prim-lighter);
    border-radius: 3px;
    background-color: var(--grey);
    color: var(--prim-light);
    transition: transform 1.5s ease;
}

.skill-box:hover {
    transform: scale(1.2);
    font-weight: bold;
    overflow: visible;
    background-color: var(--prim-lighter);
    color: var(--orange-accent);
    box-shadow: 0 2px 4px rgba(18, 4, 31, 0.1);
}

.skill-box:active {
    transform: scale(0);
    transition: transform 0s ease;
}

.skills-scroller-wrapper:hover .skills-scroller {
    animation-play-state: paused;
}

/* project styles */

#project {
    color: var(--dark-orange);
    display: flex;
}

.project-container {
    width: 80%;
    max-width: 1200px;
}

#project-heading {
    font-weight: bold;
    font-size: 4em;
    color: var(--accent);
    z-index: 8;

    animation: shrink 0.4s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.4s);
}

@keyframes shrink {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(0);
  }
  100% {
    opacity: 0;
  }
}

#proj-vid {
    display: inline-block;
    margin-top: 60em;
}

#proj-info {
    display: inline-block;
    margin-top: 2em;
}

#project-list {
    display: inline-block;
    position: relative;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#project-list li {
    font-size: 1.1em;
}

section #filler {
    height: 50vh;
}

.bubble {
  position: relative;
  cursor: help; /* Optional: changes the cursor on hover */
  display: inline-block;
}

.bubble .bubble-text {
  visibility: hidden;
  width: 200px;
  background-color: var(--prim-darker);
  color: var(--accent);
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Positions it above the word */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1rem;
}

.bubble:hover .bubble-text {
  visibility: visible;
  opacity: 1;
}
