:root {
  --prim: #222;
  --prim-light: #E5E5E5;
  --sec-light: #333;
  --sec-dark: #444;
  --accent: #007CED;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    scroll-behavior: smooth;
text-decoration: none;
}

body {
    overflow-x: hidden;
    background: var(--prim);
    margin: 0 auto;
    padding: 0 20px;
    color: var(--prim-light);
}

header {
    left: 0;
    position: fixed;
    height: 50px;
    padding-bottom: 10px;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
    background: var(--prim);
    
}

navbar {
    font-weight: bold;
    font-size: 18px;
    position: fixed;
    top: 0;
    padding-top: 25px;
    background-color: var(--prim);
    z-index: 5;
}

.navlinks li a:hover {
    color: var(--accent);
}
navbar .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

navbar .togglebtn span {
    display: block;
    background-color: var(--accent);
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

navbar .navlinks {
    list-style-type: none;
}

navbar .navlinks li {
    display: inline-block;
}

navbar .navlinks li a {
    margin-right: 2.5rem;
    color: var(--prim-light);
}

#welcome-section {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding-top: 180px;
}

#welcome-section .pfp {
    width:400px;
    height:400px;
    border-radius:20%;
    overflow: hidden;
    border: 5px solid var(--sec-dark);
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 400px;
}

.pfp img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.pfp img:hover {
    transform: scale(1.1);
}

.about-me-text {
    max-width: 700px;
    display:flex;
    flex-direction: column;
    padding-top: 5px;
    margin-bottom: 400px;
}

.about-me-text h5 {
    font-size: 18px;
}

.blue-text { 
    color: var(--accent);
    font-weight: bold;
}

.about-me-text h1 {
    font-size: 3rem;
}

.about-me-text p {
    padding-top: 5px;
    font-size: 25px;
}

#projects h1, #projects h3 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

#projects h1 {
    font-size: 30px;
    padding-bottom: 0;
}

#project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-tile {
    padding: 10px;
    background: var(--sec-dark);
    margin: 10px;
    height: 400px;
    width: 30vw;
    border: 5px solid var(--prim);
    text-align: center;
}

.project-tile:hover {
    transform: scale(1.1);
}

.project-tile:hover, .project-tile:hover h3, .project-tile:hover figcaption {
    background: var(--prim-light);
    color: var(--sec-dark);
}

.project-tile img {
    width: min(85%, 250px);
    aspect-ratio: 1 / 1;
}

.project-tile h3 {
    padding: 0;
}

a {
    color: var(--prim-light);
}

.btn-container {
    text-align: center;
    margin-bottom: 100px;
}
.btn-show-all {
    padding: 12px 35px; 
    font-size: 1rem;
    background: var(--sec-light);
    transition: background 0.3s ease-out;
}

.btn-show-all > i {
    margin-left: 0;
}

.btn-show-all:hover {
    background: var(--sec-dark);
    padding-right: 25px;
}
.btn-show-all:hover > i {
    margin-left: 10px;
    transform: translateX(0.2px);
    transition: transform 0s ease-out;

}

#contact h1 {
    text-align: center;
    padding: 30px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-group, .btn-show-all {
    background-color: var(--sec-light);
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    text-align: center;
    height: 45px;
}

.btn-group {
    width: 200px;
    padding: 12px 25px;
}

.btn-group:hover {
    background-color: var(--accent);
    transition: background 0.3s ease-out;
}

.socials {
    margin-bottom: 20px;
    padding: 12px 25px;
    width: 400px;
    height: 45px;
    text-align: center;
}

.socials i{
    color: #e5e5e5;
    font-size: 25px;
    margin: 0 15px;
    transition: 0.5s;
}

.socials i:hover{
    color: #007ced;
    transform: rotate(360deg);
}

@media(max-width: 770px) {
    navbar .togglebtn {
        display: initial;
        position: fixed;
        top: 30px;
    }

    .click {
        top:45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-45deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(45deg);
        top:0;
    }

    navbar .navlinks {
        position: fixed;
        top: 0;
        right:-100%;
        bottom:0;
        width: 40%;
        background-color: var(--prim);
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition:0.5s;
        padding: 20px;
        padding-top: 100px;
        padding-left: 50px;
    }

    navbar .navlinks li {
        display: block;
    }

    navbar .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    navbar .navlinks.open {
        right: 0;
    }

    header {
        padding-bottom: 80px;
        width: 3vw;
        left: 97vw;
    }
}

@media(max-width: 930px) {
    #welcome-section {
        flex-direction: column;
        padding-top: 120px;
        gap: 10px;
    }

    #welcome-section .pfp {
        margin-bottom: 0;
    }

    .about-me-text {
        padding: 40px 0px;
    }

    #project-container {
    display: flex;
    flex-direction: column;
    width: min(90vw, 500px);
    margin: auto auto;
    text-align: center;
    gap: 20px;
}

.project-tile {
  margin: auto auto;
  width: 50vw;
}

.btn-show-all {
    left: 0;
    margin: auto auto;
}

.social-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.socials {
    height: 50px;
    margin-top: 10px;
}
    
}
@media(max-width: 1200px) {
    .about-me-text {
        padding: 40px 0px;
        max-width: 500px;
    }

    .about-me-text p {
        font-size: 20px;
    }

    #welcome-section .pfp {
    width:300px;
    height:300px;
}
}
